# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django database (local only)
db.sqlite3
*.sqlite3

# Logs
*.log

# Environment variables
.env
.env.local
.env.production
.env.development

# PyCharm / VSCode
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Django specific
media/
staticfiles/
static/
*.pot
*.py,cover
/media/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all Markdown files except README.md
*.md
!README.md